//From: https://developer.spotify.com/branding-guidelines/
$spotify-green: #1DB954;
$spotify-black: #191414 default;
$spotify-black: #232323;    //From actual UI
$white: #FFFFFF;

//Our colours
$colour-primary: #6247AA;
$colour-primary-light: lighten($colour-primary, 20%);
$colour-primary-lighter: lighten($colour-primary, 30%);

//Layout
$grid-padding-x: 15px;