@import '../../styles/variables';

$container-width: 120px;

.artist-container {
    display: inline-block;
    width: $container-width;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 60px;
    cursor: pointer;

    &.selected {
        .artist-image {
            border: 8px solid $colour-primary;
        }
    }

    &:hover:not(.selected) {
        .artist-image {
            border: 4px solid $colour-primary;
        }
    }

    .artist-image {
        display: block;
        width: $container-width;
        height: $container-width;
        margin-bottom: 10px;
        object-fit: contain;
        border-radius: 50%;
    }

    .artist-name {
        font-weight: bold;
        text-align: center;
        overflow-wrap: break-word;
    }
}

@media (max-width: 767px) {
    $container-width: 80px;

    .artist-container {
        width: $container-width;
        margin-right: 15px;
        margin-bottom: 40px;

        .artist-image {
            width: $container-width;
            height: $container-width;
        }
    }
}