@import '../../styles/variables';

.artist-container {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    margin-bottom: 40px;
    cursor: pointer;

    &:not(:last-of-type) {
        margin-right: 25px;
    }

    &.selected {
        .artist-image {
            border: 8px solid $spotify-green;
        }

        .artist-name {
            color: $spotify-green;
        }
    }
    //Some artist images aren't intrinsically square. Force them to fit within a square shape,
    //which gets its width from .artist-container which is a dynamic width.
    .square {
        width: 100%;
        position: relative;
        margin-bottom: 10px;

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        .artist-image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .artist-name {
        font-weight: bold;
        text-align: center;
        overflow-wrap: break-word;
    }
}

@media (max-width: 1200px) {
    .artist-container {
        &:not(:last-of-type) {
            margin-right: 22px;
        }
    }
}

@media (max-width: 991px) {
    .artist-container {
        width: 12%;

        &:not(:last-of-type) {
            margin-right: 32px;
        }
    }
}

@media (max-width: 767px) {
    .artist-container {
        width: 20%;
        margin-bottom: 20px;

        &:not(:last-of-type) {
            margin-right: 15px;
        }

        .artist-name {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.5px;
        }
    }
}

//Prevent mobile sticky hover on these when unselecting
@media (hover: hover) {
    .artist-container {
        &:hover:not(.selected) {
            .artist-image {
                border: 4px solid $spotify-green;
            }
        }
    }
}
