@import '../../styles/variables';

.sticky-artist-filter-container {
    padding: 5px 15px 5px 15px;
    z-index: 10;
    background-color: $colour-primary;
}

@media (min-width: 768px) {
    .sticky-artist-filter-container {
        &.is-sticky-true {
            left: 0 !important;
            width: 100% !important;
        }
    }
}

@media (max-width: 767px) {
    .sticky-artist-filter-container {
        width: calc(100% + #{$grid-padding-x} * 2);
        margin-left: -$grid-padding-x;

        &.is-sticky-true {
            width: 100% !important;
        }
    }
}

.followed-artists-list-container {
    overflow-x: hidden;

    .followed-artists-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 60px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (max-width: 767px) {
    .followed-artists-list-container {
        .followed-artists-list {
            margin-left: -5px;
            margin-right: -5px;
        }
    }
}
